<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <div class="col-sm-12">
                    <h3 style="display: inline-block">{{job.title}}</h3>
                    {% if job.assigned_user == '' and user.newuser.contractor == False %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">انجام می‌دم</button>
                    </form>
                    {% else %}
                    <button disabled class="btn btn-default">انجام می‌دم</button>
                    {% endif %}
                    <hr/>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">ساخته شده در {{job.date}}</div>
                <div class="col-sm-3">{{job.value}} تومان</div>
                <div class="col-sm-3">{{job.approx_time}} روز</div>
                <div class="col-sm-12">
                    <br/>
                    توضیحات:
                    <br/>
                    {{job.description}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h5> شما با نام کاربری {{user}} به عنوان پیمانکار وارد سیستم شده‌اید.</h5>
            <a class="btn btn-default btn-block" href="http://127.0.0.1:8000/">صفحه‌ی اصلی</a>
            <a class="btn btn-default btn-block">خروج</a>
        </div>
    </div>
    <footer>
        <hr/>
        <span>درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
