<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1 align="center"> سامانه‌ی انجام کار</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>عنوان کار</th>
                    <th>ارزش کار</th>
                    <th>تخمین زمانی</th>
                    <th>صاحب کار</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>
                {% for j in page_obj %}
                <tr>
                    <td>{{j.title}}</td>
                    <td>{{j.value}} تومان</td>
                    <td>{{j.approx_time}} روز</td>
                    <td>{{j.employer}}</td>
                    <td>
                        <a href="{% url 'details' j.id %}" class="btn btn-default">توضیحات بیشتر</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="tasks-paginator">
                <ul class="pagination">
                    {% for i in range %}
                        {% if page_obj.number == i %}
                            <li class="active"><a href="{% url 'index_with_page' i %}">{{i}}</a></li>
                        {% else %}
                            <li><a href="{% url 'index_with_page' i %}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h3 align="center"> ورود </h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="ایمیل">
                </div>
                <button type="submit" class="btn btn-default btn-block">ورود</button>
            </form>
        </div>
    </div>
    <footer>
        <hr/>
        <span> درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>